@import 'react-toastify/dist/ReactToastify.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}


.right_chat{
  position:relative;
}

.right_chat:before {
  content: '';
  @apply absolute visible top-0 -right-[10px] border-[10px] border-solid border-transparent border-t-white;
}

.right_chat::after {
  content: '';
  @apply absolute visible top-0 -right-[8px] border-[10px] border-solid border-transparent border-t-white clear-both;
}



.left_chat{
  position:relative;
}

.left_chat:before {
  content: '';

  @apply absolute visible top-0 -left-[10px] border-[10px] border-solid border-transparent border-t-[10px] border-t-white;
}

.left_chat::after {
  content: '';
  @apply absolute visible top-0 -left-[8px] border-[10px] border-solid border-transparent border-t-[10px] border-t-white clear-both;
}